.nav-link {
  color: #ffffff;
}
.navbar {
  /* position: fixed; */
  width: 100%;
}
.navbar-brand {
  color: #ffffff;
}
.form-control {
  background: #ffffff;
}

.mx {
  margin: 15px;
}

.ax {
  text-align: left;
  margin-left: 0%;
  /* margin-bottom: 5px; */
  /* margin-inline: auto; */
}
.ay {
  text-align: end;
  margin-left: auto;
}


